-
    const faq = [
        {
            head: 'Это только для мастеров депиляции или для всех бьюти-мастеров?',
        },
        {
            head: 'Как проходит наставничество?',
        },
        {
            head: 'Сколько времени занимает обучение?',
        },
        {
            head: 'В какое время надо будет учиться?',
        },
        {
            head: 'Как долго доступны материалы и уроки?',
        },
        {
            head: 'А что, если мне не поможет?',
        },
        {
            head: 'Сколько можно заработать благодаря наставничеству?',
        },
    ]

section.faq
    .container
        .faq__imgs
            .faq__feathers.faq__feathers--left
            .faq__feathers.faq__feathers--right
            .faq__question.faq__question--left
            .faq__question.faq__question--right

        .faq__title.title Часто задаваемые вопросы

        .faq__box
            each item in faq
                .faq__item
                    .faq__item-head
                        .faq__item-head-text !{item.head}
                        .faq__item-head-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.51 15.2002L15.48 13.2302L18.69 10.0202C19.36 9.34018 18.88 8.18018 17.92 8.18018H11.69H6.08001C5.12001 8.18018 4.64001 9.34018 5.32001 10.0202L10.5 15.2002C11.32 16.0302 12.68 16.0302 13.51 15.2002Z" fill="#F14473"/>
                            </svg>

