-
    const when = [
        {
            img: 'img/fit/when1',
            text: '<b>Мечтаешь проявиться,</b> выделиться среди конкурентов и привлекать новых клиентов',
            star: true
        },
        {
            img: 'img/fit/when2',
            text: '<b>Хочешь начать</b> системно вести соц. сети, но не знаешь с чего начать',
            star: false
        },
        {
            img: 'img/fit/when3',
            text: '<b>Скупаешь</b> множество курсов, но не видишь желаемый результат',
            star: false
        },
        {
            img: 'img/fit/when4',
            text: '<b>Не знаешь</b> как позиционировать себя как эксперта',
            star: false
        },
        {
            img: 'img/fit/when5',
            text: '<b>У тебя упакован блог,</b> а продаж мало',
            star: false
        },
        {
            img: 'img/fit/when6',
            text: '<b>Не понимаешь</b> как доносить свои ценности и смыслы до аудитории',
            star: false
        },
        {
            img: 'img/fit/when7',
            text: '<b>Боишься</b> поднять цены',
            star: false
        },
        {
            img: 'img/fit/when8',
            text: '<b>Не знаешь</b> как привлекать клиентов',
            star: false
        },
        {
            img: 'img/fit/when9',
            text: '<b>Хочешь выйти на уровень</b> преподавания, но не понимаешь как написать программу, запустить обучение и набрать группу',
            star: false
        },
        {
            img: 'img/fit/when10',
            text: '<b>Хочешь больше</b> учеников и круче результат',
            star: true
        },
    ]

section.fit
    .container
        .fit__el
            picture
                source(data-srcset='img/fit/el-violet.webp' type='image/webp').lazy
                img(data-src='img/fit/el-violet.png').lazy
        .fit__leaves
        include circle.pug
        .fit__box
            .fit__col
                .fit__title.title Кому подойдет?
                .fit__item
                    .fit__item-icon.fit__item-icon--bottom-left
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.9379 5.65296L25 3.11846L24.0621 5.65296L19.09 19.09L5.65296 24.0621L3.11846 25L5.65296 25.9379L19.09 30.91L24.0621 44.347L25 46.8815L25.9379 44.347L30.91 30.91L44.347 25.9379L46.8815 25L44.347 24.0621L30.91 19.09L25.9379 5.65296Z" fill="#D9D9D9"/>
                        <path d="M25.9379 5.65296L25 3.11846L24.0621 5.65296L19.09 19.09L5.65296 24.0621L3.11846 25L5.65296 25.9379L19.09 30.91L24.0621 44.347L25 46.8815L25.9379 44.347L30.91 30.91L44.347 25.9379L46.8815 25L44.347 24.0621L30.91 19.09L25.9379 5.65296Z" fill="url(#paint0_linear_2_379)"/>
                        <path d="M25.9379 5.65296L25 3.11846L24.0621 5.65296L19.09 19.09L5.65296 24.0621L3.11846 25L5.65296 25.9379L19.09 30.91L24.0621 44.347L25 46.8815L25.9379 44.347L30.91 30.91L44.347 25.9379L46.8815 25L44.347 24.0621L30.91 19.09L25.9379 5.65296Z" stroke="#FAF8F7" stroke-width="2"/>
                        <defs>
                        <linearGradient id="paint0_linear_2_379" x1="50.4878" y1="28.2439" x2="26.5517" y2="42.4961" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F55882"/>
                        <stop offset="0.25" stop-color="#FF7DA0"/>
                        <stop offset="0.489583" stop-color="#F03B6C"/>
                        <stop offset="0.770833" stop-color="#FB668E"/>
                        <stop offset="1" stop-color="#E97695"/>
                        </linearGradient>
                        </defs>
                        </svg>

                    .fit__item-title Мастерам красоты
                    .fit__item-text Которые недавно начали свой путь, хотят набрать клиентов и выйти на плотную запись
            .fit__col
                .fit__item
                    .fit__item-icon.fit__item-icon--top-right
                        <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.4068 8.47945L42 4.67769L40.5932 8.47945L31.9196 31.9196L8.47945 40.5932L4.67769 42L8.47945 43.4068L31.9196 52.0804L40.5932 75.5206L42 79.3223L43.4068 75.5206L52.0804 52.0804L75.5206 43.4068L79.3223 42L75.5206 40.5932L52.0804 31.9196L43.4068 8.47945Z" fill="#D9D9D9"/>
                        <path d="M43.4068 8.47945L42 4.67769L40.5932 8.47945L31.9196 31.9196L8.47945 40.5932L4.67769 42L8.47945 43.4068L31.9196 52.0804L40.5932 75.5206L42 79.3223L43.4068 75.5206L52.0804 52.0804L75.5206 43.4068L79.3223 42L75.5206 40.5932L52.0804 31.9196L43.4068 8.47945Z" fill="url(#paint0_linear_118_252)"/>
                        <path d="M43.4068 8.47945L42 4.67769L40.5932 8.47945L31.9196 31.9196L8.47945 40.5932L4.67769 42L8.47945 43.4068L31.9196 52.0804L40.5932 75.5206L42 79.3223L43.4068 75.5206L52.0804 52.0804L75.5206 43.4068L79.3223 42L75.5206 40.5932L52.0804 31.9196L43.4068 8.47945Z" stroke="#FAF8F7" stroke-width="3"/>
                        <defs>
                        <linearGradient id="paint0_linear_118_252" x1="86.2683" y1="47.6342" x2="44.695" y2="72.3879" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F55882"/>
                        <stop offset="0.25" stop-color="#FF7DA0"/>
                        <stop offset="0.489583" stop-color="#F03B6C"/>
                        <stop offset="0.770833" stop-color="#FB668E"/>
                        <stop offset="1" stop-color="#E97695"/>
                        </linearGradient>
                        </defs>
                        </svg>

                    .fit__item-title Мастерам, которые хотят обучать
                    .fit__item-text Вместе создадим ваш собственный курс или сильное наставничество
                .fit__item
                    .fit__item-icon.fit__item-icon--top-left
                        <svg width="46" height="54" viewBox="0 0 46 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.9616 7.72557L23 4.35608L22.0384 7.72557L18.6754 19.5096L6.78866 16.53L3.38979 15.678L5.82705 18.1956L14.3508 27L5.82705 35.8044L3.38979 38.322L6.78866 37.47L18.6754 34.4904L22.0384 46.2744L23 49.6439L23.9616 46.2744L27.3246 34.4904L39.2113 37.47L42.6102 38.322L40.173 35.8044L31.6492 27L40.173 18.1956L42.6102 15.678L39.2113 16.53L27.3246 19.5096L23.9616 7.72557Z" fill="#D9D9D9"/>
                        <path d="M23.9616 7.72557L23 4.35608L22.0384 7.72557L18.6754 19.5096L6.78866 16.53L3.38979 15.678L5.82705 18.1956L14.3508 27L5.82705 35.8044L3.38979 38.322L6.78866 37.47L18.6754 34.4904L22.0384 46.2744L23 49.6439L23.9616 46.2744L27.3246 34.4904L39.2113 37.47L42.6102 38.322L40.173 35.8044L31.6492 27L40.173 18.1956L42.6102 15.678L39.2113 16.53L27.3246 19.5096L23.9616 7.72557Z" fill="url(#paint0_linear_2_378)"/>
                        <path d="M23.9616 7.72557L23 4.35608L22.0384 7.72557L18.6754 19.5096L6.78866 16.53L3.38979 15.678L5.82705 18.1956L14.3508 27L5.82705 35.8044L3.38979 38.322L6.78866 37.47L18.6754 34.4904L22.0384 46.2744L23 49.6439L23.9616 46.2744L27.3246 34.4904L39.2113 37.47L42.6102 38.322L40.173 35.8044L31.6492 27L40.173 18.1956L42.6102 15.678L39.2113 16.53L27.3246 19.5096L23.9616 7.72557Z" stroke="#FAF8F7" stroke-width="2"/>
                        <defs>
                        <linearGradient id="paint0_linear_2_378" x1="48.4878" y1="30.2439" x2="24.5517" y2="44.4961" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F55882"/>
                        <stop offset="0.25" stop-color="#FF7DA0"/>
                        <stop offset="0.489583" stop-color="#F03B6C"/>
                        <stop offset="0.770833" stop-color="#FB668E"/>
                        <stop offset="1" stop-color="#E97695"/>
                        </linearGradient>
                        </defs>
                        </svg>
                    .fit__item-title Педагогам в сфере beauty
                    .fit__item-text Вы уже обучаете, но хотите больше учеников и круче результаты!

        .when
            .when__title.title Если ты:
            .when__box
                each item in when
                    .when__item
                        .when__item-icon
                            .when__item-icon-inner
                                .when__item-icon-img
                                    picture
                                        source(data-srcset=item.img + '.webp').lazy
                                        img(data-src=item.img + '.jpg').lazy
                        .when__item-text !{item.text}
                        if item.star
                            .when__item-star
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 0L16.7836 6.79591C17.6082 9.93795 20.0621 12.3918 23.2041 13.2164L30 15L23.2041 16.7836C20.062 17.6082 17.6082 20.0621 16.7836 23.2041L15 30L13.2164 23.2041C12.3918 20.062 9.93795 17.6082 6.79591 16.7836L0 15L6.79591 13.2164C9.93795 12.3918 12.3918 9.93795 13.2164 6.7959L15 0Z" fill="#D9D9D9"/>
                                <path d="M15 0L16.7836 6.79591C17.6082 9.93795 20.0621 12.3918 23.2041 13.2164L30 15L23.2041 16.7836C20.062 17.6082 17.6082 20.0621 16.7836 23.2041L15 30L13.2164 23.2041C12.3918 20.062 9.93795 17.6082 6.79591 16.7836L0 15L6.79591 13.2164C9.93795 12.3918 12.3918 9.93795 13.2164 6.7959L15 0Z" fill="url(#paint0_linear_122_262)"/>
                                <defs>
                                <linearGradient id="paint0_linear_122_262" x1="35.122" y1="17.561" x2="16.225" y2="28.8127" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F55882"/>
                                <stop offset="0.25" stop-color="#FF7DA0"/>
                                <stop offset="0.489583" stop-color="#F03B6C"/>
                                <stop offset="0.770833" stop-color="#FB668E"/>
                                <stop offset="1" stop-color="#E97695"/>
                                </linearGradient>
                                </defs>
                                </svg>


