.fit {
    position: relative;
    background: url("/img/footer/bg.png") no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #FAF8F7;

    @media screen and (max-width: 768px) {
        background-color: #F2F0F0;
    }

    .circle {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__el {
        width: 100%;
        max-width: 646px;
        position: absolute;
        left: 0;
        top: 40px;
        @media screen and (max-width: 768px) {
            max-width: initial;
            width: 295px;
            right: -100px;
            left: auto;
        }
    }

    &__leaves {
        position: absolute;
        background-image: url("/img/fit/leaves.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom 12px;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        @media screen and (max-width: 768px) {
            background-size: contain;
            background-image: url("/img/fit/leaves--mobile.png");
        }
    }

    &__box {
        padding: 82px 0 22px;
        display: flex;
        gap: 46px;
        justify-content: center;
        position: relative;
        max-width: 784px;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
            padding: 38px 0 40px;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 18px;
        @media screen and (max-width: 768px) {
            gap: 30px;
        }

        &:last-child {
            margin-top: 10px;
            @media screen and (max-width: 768px) {
                margin: 0;
            }
        }
    }

    &__title {
        margin-bottom: 12px;
        max-width: 318px;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }

    &__item {
        background: #FAF8F7;
        border-radius: 24px;
        border: 2px solid #F03C6C;
        position: relative;
        padding: 32px 12px 32px 32px;
        @media screen and (max-width: 768px) {
            padding: 32px;
        }

        &-title {
            font-family: 'SONGER Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 41px;
            display: flex;
            align-items: center;
            letter-spacing: -0.04em;

            background: linear-gradient(90.01deg, #F55882 2.69%, #FF7DA0 22.51%, #F03B6C 41.5%, #FB668E 63.8%, #E97695 81.97%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @media screen and (max-width: 768px) {
                font-size: 26px;
                line-height: 33px;
            }
        }

        &-text {
            margin-top: 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

            color: #242424;
            @media screen and (max-width: 768px) {
                font-size: 14px;
                line-height: 17px;
            }
        }

        &-icon {
            position: absolute;
            &--bottom-left {
                width: 50px;
                bottom: -22px;
                left: -22px;
                @media screen and (max-width: 768px) {
                    left: 22px;
                }
            }
            &--top-right {
                width: 82px;
                right: -40px;
                top: -30px;
                @media screen and (max-width: 768px) {
                    width: 50px;
                    right: 15px;
                    top: auto;
                    bottom: -18px;
                }
            }
            &--top-left {
                width: 45px;
                left: -22px;
                top: 2px;
                @media screen and (max-width: 768px) {
                    top: auto;
                    bottom: -24px;
                    left: 54px;
                    transform: rotate(-20.25deg);
                }
            }
        }
    }
}
