.details {
    background: url("/img/details/bg.png") no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #FAF8F7;

    padding: 32px 0 100px;

    &__title {
        text-align: center;
    }
    &__subttile {
        text-align: center;
        margin-top: 12px;
    }
    &__form {
        max-width: 882px;
        margin: 68px auto 0;
    }
}
