.card-head {
    position: absolute;

    background: linear-gradient(90.01deg, #6EE450 2.69%, #B2FC9F 22.51%, #77ED59 41.5%, #A3E193 63.8%, #98F381 81.97%), #F7F5F4;
    box-shadow: inset 0px 4px 34px rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    top: -36px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 15px 52px;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0px 3px 0px rgb(233, 57, 105);
    @media screen and (max-width: 768px) {
        padding: 5px 15px;
        max-width: 265px;
        white-space: normal;
        width: 100%;
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-family: 'SONGER Grotesque';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -0.04em;

        background: linear-gradient(90.72deg, #FFFFFF 0.6%, rgba(255, 255, 255, 0.72) 61.91%, #FFFFFF 99.52%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @media screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 39px;
        }
    }
    &__number {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F9F7F6;
        border-radius: 50%;
        position: absolute;
        bottom: -24px;
        right: 0;

        span {
            font-family: 'SONGER Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 41px;
            letter-spacing: -0.04em;

            background: linear-gradient(90.01deg, #F55882 2.69%, #FF7DA0 22.51%, #F03B6C 41.5%, #FB668E 63.8%, #E97695 81.97%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
}
