footer.footer
    .footer__petals
        img(src='img/footer/petals.png')
    .footer__woman
        img(src='img/footer/woman.png')
    .footer__layout

    .container
        .footer__content
            .footer__title.title
                span.footer__title-quotes Займи свое место п<span class="footer__title-sun">о</span>д солнцем премиум-сегмента!
                span.footer__title-el
                    span.footer__title-el-bg
                        <svg width="339" height="99" viewBox="0 0 339 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M170.956 20.1502L171.331 20.5304L171.686 20.1325L185.783 4.34116C187.964 1.89699 191.085 0.499512 194.362 0.499512H331.749C335.391 0.499512 338.5 4.12065 338.5 8.79951V90.1995C338.5 94.8784 335.391 98.4995 331.749 98.4995H7.25134C3.60886 98.4995 0.5 94.8784 0.5 90.1995V8.79951C0.5 4.12065 3.60886 0.499512 7.25134 0.499512H146.798C149.88 0.499512 152.833 1.73633 154.994 3.93262L170.956 20.1502Z" fill="#F6F4F3" fill-opacity="0.12" stroke="url(#paint0_linear_108_70)"/>
                        <defs>
                        <linearGradient id="paint0_linear_108_70" x1="9.09335" y1="49.0369" x2="277.893" y2="49.264" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F55882"/>
                        <stop offset="0.25" stop-color="#FF7DA0"/>
                        <stop offset="0.489583" stop-color="#F03B6C"/>
                        <stop offset="0.770833" stop-color="#FB668E"/>
                        <stop offset="1" stop-color="#E97695"/>
                        </linearGradient>
                        </defs>
                        </svg>

                    span.footer__title-el-text Дарья Прудаева
                    span.footer__title-el-icon
                        <svg width="38" height="44" viewBox="0 0 38 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9616 7.72508L19 4.35559L18.0384 7.72508L15.6303 16.163L7.11878 14.0295L3.71992 13.1776L6.15718 15.6951L12.2606 21.9995L6.15718 28.304L3.71992 30.8215L7.11878 29.9695L15.6303 27.836L18.0384 36.2739L19 39.6434L19.9616 36.2739L22.3697 27.836L30.8812 29.9695L34.2801 30.8215L31.8428 28.304L25.7394 21.9995L31.8428 15.6951L34.2801 13.1776L30.8812 14.0295L22.3697 16.163L19.9616 7.72508Z" fill="#D9D9D9"/>
                        <path d="M19.9616 7.72508L19 4.35559L18.0384 7.72508L15.6303 16.163L7.11878 14.0295L3.71992 13.1776L6.15718 15.6951L12.2606 21.9995L6.15718 28.304L3.71992 30.8215L7.11878 29.9695L15.6303 27.836L18.0384 36.2739L19 39.6434L19.9616 36.2739L22.3697 27.836L30.8812 29.9695L34.2801 30.8215L31.8428 28.304L25.7394 21.9995L31.8428 15.6951L34.2801 13.1776L30.8812 14.0295L22.3697 16.163L19.9616 7.72508Z" fill="url(#paint0_linear_108_72)"/>
                        <path d="M19.9616 7.72508L19 4.35559L18.0384 7.72508L15.6303 16.163L7.11878 14.0295L3.71992 13.1776L6.15718 15.6951L12.2606 21.9995L6.15718 28.304L3.71992 30.8215L7.11878 29.9695L15.6303 27.836L18.0384 36.2739L19 39.6434L19.9616 36.2739L22.3697 27.836L30.8812 29.9695L34.2801 30.8215L31.8428 28.304L25.7394 21.9995L31.8428 15.6951L34.2801 13.1776L30.8812 14.0295L22.3697 16.163L19.9616 7.72508Z" stroke="#FAF8F7" stroke-width="2"/>
                        <defs>
                        <linearGradient id="paint0_linear_108_72" x1="37.7805" y1="24.3898" x2="20.1433" y2="34.8914" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F55882"/>
                        <stop offset="0.25" stop-color="#FF7DA0"/>
                        <stop offset="0.489583" stop-color="#F03B6C"/>
                        <stop offset="0.770833" stop-color="#FB668E"/>
                        <stop offset="1" stop-color="#E97695"/>
                        </linearGradient>
                        </defs>
                        </svg>
        .footer__bottom
            .footer__socs.socs
                a(href='#' target='_blank').footer__soc.socs__item
                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="31" height="30" rx="15" fill="#419FD9"/>
                    <rect width="31" height="30" rx="15" fill="url(#paint0_linear_2_16)"/>
                    <path d="M6.96684 14.6693C11.4743 12.7289 14.48 11.4497 15.9839 10.8316C20.2778 9.06688 21.1701 8.76033 21.7516 8.7501C21.8795 8.74798 22.1655 8.7793 22.3508 8.92783C22.5072 9.05324 22.5503 9.22266 22.5708 9.34157C22.5914 9.46047 22.6171 9.73135 22.5967 9.943C22.364 12.3588 21.3572 18.2212 20.8449 20.9269C20.6282 22.0717 20.2014 22.4556 19.7883 22.4932C18.8904 22.5748 18.2085 21.9069 17.3389 21.3436C15.978 20.4622 15.2092 19.9135 13.8883 19.0534C12.3617 18.0594 13.3513 17.513 14.2213 16.6202C14.449 16.3865 18.4052 12.831 18.4817 12.5084C18.4913 12.4681 18.5002 12.3177 18.4098 12.2383C18.3194 12.1589 18.186 12.1861 18.0897 12.2077C17.9532 12.2383 15.7792 13.6581 11.5677 16.467C10.9507 16.8857 10.3917 17.0897 9.89094 17.079C9.33887 17.0672 8.27691 16.7706 7.48745 16.517C6.51914 16.206 5.74955 16.0416 5.81657 15.5134C5.85147 15.2383 6.2349 14.9569 6.96684 14.6693Z" fill="white"/>
                    <defs>
                    <linearGradient id="paint0_linear_2_16" x1="15.5" y1="0" x2="15.5" y2="29.7774" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#2AABEE"/>
                    <stop offset="1" stop-color="#229ED9"/>
                    </linearGradient>
                    </defs>
                    </svg>
                a(href='#' target='_blank').footer__soc.socs__item
                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="31" height="30" rx="15" fill="#5181B8"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3592 10.334C25.5029 9.87049 25.3592 9.52979 24.6754 9.52979H22.4145C21.8395 9.52979 21.5747 9.82407 21.431 10.1487C21.431 10.1487 20.2811 12.8607 18.6523 14.6224C18.1253 15.1323 17.8858 15.2944 17.5983 15.2944C17.4546 15.2944 17.2466 15.1323 17.2466 14.6688V10.334C17.2466 9.77766 17.0798 9.52979 16.6006 9.52979H13.0477C12.6885 9.52979 12.4724 9.78797 12.4724 10.0327C12.4724 10.5602 13.2867 10.6818 13.3707 12.1652V15.3874C13.3707 16.0938 13.2389 16.222 12.9514 16.222C12.185 16.222 10.3207 13.4976 9.21475 10.3805C8.99802 9.77453 8.78065 9.52979 8.20281 9.52979H5.94187C5.29588 9.52979 5.16669 9.82407 5.16669 10.1487C5.16669 10.7282 5.93331 13.6026 8.73575 17.4041C10.6043 20 13.2363 21.4076 15.6316 21.4076C17.0689 21.4076 17.2466 21.095 17.2466 20.5566V18.5944C17.2466 17.9693 17.3827 17.8445 17.8377 17.8445C18.1733 17.8445 18.748 18.0068 20.0896 19.2585C21.6225 20.7418 21.8751 21.4076 22.7375 21.4076H24.9984C25.6444 21.4076 25.9674 21.095 25.781 20.4781C25.5772 19.8633 24.8453 18.9715 23.8741 17.9141C23.3471 17.3113 22.5566 16.6622 22.3172 16.3378C21.9818 15.9205 22.0776 15.7351 22.3172 15.3644C22.3172 15.3644 25.0717 11.6092 25.3592 10.3342V10.334Z" fill="white"/>
                    </svg>

                a(href='#' target='_blank').footer__soc.socs__item
                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="31" height="30" rx="15" fill="#0DC143"/>
                    <path d="M22.4431 8.25718C20.7814 6.60177 18.4844 5.70312 16.1384 5.70312C11.1533 5.70312 7.14561 9.6288 7.19449 14.4058C7.19449 15.9193 7.63435 17.3856 8.36746 18.7099L7.09674 23.2031L11.8375 22.0207C13.1571 22.7302 14.6233 23.0612 16.0895 23.0612C21.0258 23.0612 25.0335 19.1356 25.0335 14.3585C25.0335 12.041 24.1048 9.86529 22.4431 8.25718ZM16.1384 21.595C14.8188 21.595 13.4992 21.2639 12.3751 20.6018L12.0819 20.4599L9.24719 21.1693L9.9803 18.4734L9.7848 18.1896C7.63435 14.8315 8.6607 10.3856 12.1796 8.30448C15.6985 6.2234 20.2438 7.21664 22.3943 10.622C24.5447 14.0274 23.5184 18.4261 19.9994 20.5072C18.8753 21.2166 17.5069 21.595 16.1384 21.595ZM20.4393 16.345L19.9017 16.1085C19.9017 16.1085 19.1197 15.7774 18.631 15.541C18.5821 15.541 18.5332 15.4937 18.4844 15.4937C18.3377 15.4937 18.24 15.541 18.1422 15.5883C18.1422 15.5883 18.0934 15.6356 17.4091 16.3923C17.3603 16.4869 17.2625 16.5342 17.1648 16.5342H17.1159C17.067 16.5342 16.9693 16.4869 16.9204 16.4396L16.676 16.345C16.1384 16.1085 15.6497 15.8247 15.2587 15.4464C15.1609 15.3518 15.0143 15.2572 14.9166 15.1626C14.5744 14.8315 14.2323 14.4531 13.988 14.0274L13.9391 13.9329C13.8902 13.8856 13.8902 13.8383 13.8413 13.7437C13.8413 13.6491 13.8413 13.5545 13.8902 13.5072C13.8902 13.5072 14.0857 13.2707 14.2323 13.1288C14.3301 13.0342 14.3789 12.8923 14.4767 12.7977C14.5744 12.6558 14.6233 12.4666 14.5744 12.3247C14.5256 12.0883 13.9391 10.8112 13.7925 10.5274C13.6947 10.3856 13.597 10.3383 13.4503 10.291H13.3037C13.206 10.291 13.0594 10.291 12.9127 10.291C12.815 10.291 12.7172 10.3383 12.6195 10.3383L12.5706 10.3856C12.4729 10.4329 12.3751 10.5274 12.2774 10.5747C12.1796 10.6693 12.1307 10.7639 12.033 10.8585C11.6909 11.2842 11.4954 11.8045 11.4954 12.3247C11.4954 12.7031 11.5931 13.0815 11.7398 13.4126L11.7886 13.5545C12.2285 14.4531 12.815 15.2572 13.597 15.9666L13.7925 16.1558C13.9391 16.2977 14.0857 16.3923 14.1835 16.5342C15.2098 17.3856 16.3828 18.0004 17.7024 18.3315C17.849 18.3788 18.0445 18.3788 18.1911 18.4261C18.3377 18.4261 18.5332 18.4261 18.6798 18.4261C18.9242 18.4261 19.2175 18.3315 19.413 18.2369C19.5596 18.1423 19.6573 18.1423 19.7551 18.0477L19.8528 17.9531C19.9506 17.8585 20.0483 17.8112 20.1461 17.7166C20.2438 17.622 20.3416 17.5274 20.3904 17.4329C20.4882 17.2437 20.5371 17.0072 20.5859 16.7707C20.5859 16.6761 20.5859 16.5342 20.5859 16.4396C20.5859 16.4396 20.5371 16.3923 20.4393 16.345Z" fill="white"/>
                    </svg>
            a(href='#' target='_blank').footer__text.footer__politic Политика конфиденциальности
            .footer__text 2023 © Все права защищены. **Количественные данные приведены на основании среднегодовых статистических расчетов.






