header.header.lazy(data-bg="img/header/bg.webp", data-bg-fallback="img/header/bg.png")
    .container
        .header__top
            .header__top-item.header__top-item--left
                .header__top-item-title 20 марта
                .header__top-item-text Старт курса

            .header__top-item.header__top-sun займи свое <br>место под солнцем

            .header__top-item.header__top-item--right
                .header__top-item-title 1,5 месяца
                .header__top-item-text длительность

        .header__main
            .header__subtitle Авторский курс
            .header__title
                .header__title-item
                    <svg width="351" height="140" viewBox="0 0 351 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.224 0.447998V140H52.016V105.504H35.944L20.852 140H0.0759888L17.912 99.036C12.1627 94.5933 7.71999 88.1907 4.58399 79.828C1.57866 71.4653 0.0759888 62.5147 0.0759888 52.976C0.0759888 38.864 3.27732 26.5813 9.67999 16.128C16.0827 5.67466 24.9027 0.447998 36.14 0.447998H71.224ZM36.532 86.492H52.016V19.656H37.316C31.6973 19.656 27.2547 22.988 23.988 29.652C20.7213 36.1853 19.088 43.96 19.088 52.976C19.088 62.1227 20.5907 70.028 23.596 76.692C26.732 83.2253 31.044 86.492 36.532 86.492Z" fill="url(#paint0_linear_107_240)"/>
                    <path d="M129.597 140V0.447998H164.289C175.526 0.447998 184.346 5.67466 190.749 16.128C197.151 26.5813 200.353 38.864 200.353 52.976C200.353 67.2187 197.151 79.5667 190.749 90.02C184.477 100.343 175.657 105.504 164.289 105.504H148.805V140H129.597ZM148.805 86.492H163.897C169.385 86.492 173.631 83.2253 176.637 76.692C179.773 70.028 181.341 62.1227 181.341 52.976C181.341 43.96 179.707 36.1853 176.441 29.652C173.174 22.988 168.731 19.656 163.113 19.656H148.805V86.492Z" fill="url(#paint1_linear_107_240)"/>
                    <path d="M207.698 140V0.447998H242.782C254.019 0.447998 262.84 5.67466 269.242 16.128C275.645 26.5813 278.846 38.864 278.846 52.976C278.846 62.5147 277.278 71.4653 274.142 79.828C271.137 88.1907 266.76 94.5933 261.01 99.036L278.846 140H258.07L242.978 105.504H226.906V140H207.698ZM226.906 86.492H242.39C247.878 86.492 252.125 83.2253 255.13 76.692C258.266 70.028 259.834 62.1227 259.834 52.976C259.834 43.96 258.201 36.1853 254.934 29.652C251.667 22.988 247.225 19.656 241.606 19.656H226.906V86.492Z" fill="url(#paint2_linear_107_240)"/>
                    <path d="M288.096 140V0.447998H350.62V19.656H307.304V60.424H337.292V79.436H307.304V120.988H350.62V140H288.096Z" fill="url(#paint3_linear_107_240)"/>
                    <defs>
                    <linearGradient id="paint0_linear_107_240" x1="6.5" y1="71" x2="376" y2="71.397" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_107_240" x1="6.5" y1="71" x2="376" y2="71.397" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_107_240" x1="6.5" y1="71" x2="376" y2="71.397" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_107_240" x1="6.5" y1="71" x2="376" y2="71.397" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    </defs>
                    </svg>

                .header__title-item
                    <svg width="376" height="140" viewBox="0 0 376 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.976013 140H19.792V46.508L40.568 140H59.188L80.16 46.508V140H99.172V0.447998H75.064L49.78 107.856L24.692 0.447998H0.976013V140Z" fill="url(#paint0_linear_107_241)"/>
                    <path d="M113.339 140H133.919L172.139 41.216V140H190.759V0.447998H170.375L132.155 98.252V0.447998H113.339V140Z" fill="url(#paint1_linear_107_241)"/>
                    <path d="M216.991 140H236.395L273.635 0.447998H253.447L234.435 77.868L215.423 0.447998H195.235L224.635 111.384L216.991 140Z" fill="url(#paint2_linear_107_241)"/>
                    <path d="M277.198 140H296.014V46.508L316.79 140H335.41L356.382 46.508V140H375.394V0.447998H351.286L326.002 107.856L300.914 0.447998H277.198V140Z" fill="url(#paint3_linear_107_241)"/>
                    <defs>
                    <linearGradient id="paint0_linear_107_241" x1="0.649142" y1="71" x2="315.438" y2="71.2882" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_107_241" x1="0.649142" y1="71" x2="315.438" y2="71.2882" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_107_241" x1="0.649142" y1="71" x2="315.438" y2="71.2882" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_107_241" x1="0.649142" y1="71" x2="315.438" y2="71.2882" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F55882"/>
                    <stop offset="0.25" stop-color="#FF7DA0"/>
                    <stop offset="0.489583" stop-color="#F03B6C"/>
                    <stop offset="0.770833" stop-color="#FB668E"/>
                    <stop offset="1" stop-color="#E97695"/>
                    </linearGradient>
                    </defs>
                    </svg>


            .header__subtitle.header__subtitle--right Дарья Прудаева

            .header__imgs
                .header__sun
                    img(src='img/header/sun.png')
                .header__woman
                    img(src='img/header/woman.png')
                .header__bottom
                    img(src='img/header/bottom.svg')
                .header__petals
                    img(src='img/header/petals.png')
                .header__petals.header__petals--two
                    img(src='img/header/petals.png')
                .header__petals.header__petals--left
                    img(src='img/header/petals--left.png')
                .header__petals.header__petals--right
                    img(src='img/header/petals--right.png')

        .header__footer
            .header__content
                .header__text <b>Проявленность, продажи и премиум-сегмент бьюти-индустрии</b> – это все через 6 недель будет про тебя
                a(href='#').header__btn.btn
                    span да, я хочу!
