.socs {
    display: flex;
    align-items: center;
    gap: 6px;
    @media screen and (max-width: 768px) {
        justify-content: center;
        gap: 12px;
    }

    &__item {
        width: 30px;
        @media screen and (max-width: 768px) {
            width: 50px;
        }
    }
}
