.programs {
    padding: 38px 0 42px;
    background: url("/img/programs/bg.png") no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #FAF8F7;
    position: relative;

    @media screen and (max-width: 768px) {
        padding: 22px 0 30px;
        background-color: #F2F0F0;
    }

        &__title {
        text-align: center;
    }

    &__img {
        background: url("/img/programs/img.png") no-repeat;
        background-size: contain;
        background-position: center right;
        position: absolute;
        width: 1372px;
        height: 1842px;
        bottom: 0;
        right: 0;
        pointer-events: none;
        @media screen and (max-width: 768px) {
            background-image: url("/img/programs/img--mobile.png");
            background-position: center right -75px;
            width: 2025px;
            height: 4110px;
            left: calc(50%);
            transform: translate(-50%, 0%);
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        ". . . ."
        ". . last last";
        gap: 66px 20px;
        margin-top: 85px;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-areas: initial;
            margin-top: 70px;
            gap: 60px;
        }
    }

    &__item {
        border: 1px solid #F03C6C;
        background: #FAF8F7;
        border-radius: 24px;
        padding: 64px 18px 44px;
        min-height: 540px;
        position: relative;
        @media screen and (max-width: 768px) {
            min-height: 500px;
        }

        &:last-child {
            grid-area: last;
            @media screen and (max-width: 768px) {
                grid-area: auto;
                padding-top: 75px;
            }
        }

        &-title {
            font-family: 'SONGER Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 102%;
            text-align: center;

            color: #000000;
            margin-bottom: 26px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media screen and (max-width: 768px) {
                gap: 12px;
            }

            &-item {
                display: flex;
                gap: 12px;
                @media screen and (max-width: 768px) {
                    gap: 20px;
                }

                &--icon {
                    gap: 12px;
                }

                &-icon {
                    width:18px;
                    flex: 0 0 auto;
                }

                &-title {
                    font-family: 'SONGER Grotesque';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 102%;

                    color: #000000;
                    flex: 0 0 auto;

                }

                &-text {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 144%;

                    color: #000000;
                }
            }
        }
    }
}

