.programs {
    background: #FAF8F7;
    padding: 38px 0 42px;

    &__title {
        text-align: center;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        ". . . ."
        ". . last last";
        gap: 66px 20px;
        margin-top: 85px;
    }

    &__item {
        border: 1px solid #F03C6C;
        background: #FAF8F7;
        border-radius: 24px;
        padding: 64px 18px 44px;
        min-height: 540px;
        position: relative;

        &:last-child {
            grid-area: last;
        }

        &-title {
            font-family: 'SONGER Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 102%;
            text-align: center;

            color: #000000;
            margin-bottom: 26px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &-item {
                display: flex;
                gap: 12px;

                &--icon {
                    gap: 12px;
                }

                &-icon {
                    width:18px;
                    flex: 0 0 auto;
                }

                &-title {
                    font-family: 'SONGER Grotesque';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 102%;

                    color: #000000;
                    flex: 0 0 auto;

                }

                &-text {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 144%;

                    color: #000000;
                }
            }
        }
    }
}

