.students {
    padding: 14px 0 22px;
    background: url("/img/students/bg.png") no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #FAF8F7;
    @media screen and (max-width: 768px) {
        background-color: #F2F0F0;
        padding: 22px 0 18px;
    }

    &__title {
        text-align: center;
    }

    &__slider {
        margin-top: 46px;
        margin-bottom: 28px;
        @media screen and (max-width: 768px) {
            margin-top: 38px;
            margin-bottom: 32px;
        }
    }

    &__slide {
        &-inner {

        }
    }
    &__btn {
        padding-right: 84px;
        padding-left: 84px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        bottom: 0;
        align-items: center;


        li {
            width: 12px;
            height: 12px;
            margin: 0 4px;

            button {
                padding: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: linear-gradient(90.01deg, rgba(245, 88, 130, 0.28) 2.69%, rgba(255, 125, 160, 0.28) 22.51%, rgba(240, 59, 108, 0.28) 41.5%, rgba(251, 102, 142, 0.28) 63.8%, rgba(233, 118, 149, 0.28) 81.97%), #D9D9D9;
                &::before {
                    display: none;
                }
            }
            &.slick-active {
                width: 18px;
                height: 18px;
                button {
                    background: linear-gradient(90.17deg, #F55882 2.82%, #FF7DA0 45.77%, #F03B6C 86.94%, #FB668E 135.26%, #E97695 174.63%), #D9D9D9;
                }

            }
        }

    }
    .slick-arrow {
        width: 24px;
        height: 24px;
        z-index: 10;
        @media screen and (max-width: 768px) {
            display: none !important;
        }

        &::before {
            display: none;
        }
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
    }
}

.student {
    display: flex;
    align-items: center;
    gap: 14px;

    &__img {
        width: 116px;
        height: 116px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            object-fit: cover;
        }

    }

    &__content {
        //display: flex;
        //flex-direction: column;
    }

    &__name {
        font-family: 'SONGER Grotesque';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 144%;

        color: #000000;
        @media screen and (max-width: 768px) {
            font-size: 22px;
        }
    }

    &__city {
        font-family: 'SONGER Grotesque';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 144%;

        color: #000000;
        margin-top: -3px;
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }

    &__profession {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 144%;

        color: #FFFFFF;

        display: inline-block;
        background: linear-gradient(239.23deg, #F55882 11.14%, #FF7DA0 24.51%, #F03B6C 37.33%, #FB668E 52.37%, #E97695 64.62%), #D9D9D9;
        border-radius: 42px;
        padding: 6px 20px;
        margin-top: 12px;
        @media screen and (max-width: 768px) {
            font-weight: 600;
        }
    }
}

$point_class: '.points';

#{$point_class} {
    display: flex;
    gap: 16px;
    margin: 46px 0 105px;
    padding: 0 40px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0;
        margin: 26px 0 50px;
    }

    $point_item_class: $point_class + '__item';
    &__item {
        width: 100%;
        border-radius: 24px;
        padding: 24px 30px;
        position: relative;
        @media screen and (max-width: 768px) {
            padding: 20px;
        }

        &--gray {
            background: #EAEAEA;
            #{$point_item_class}-title {
                background-image: linear-gradient(90.01deg, #F55882 2.69%, #FF7DA0 22.51%, #F03B6C 41.5%, #FB668E 63.8%, #E97695 81.97%);
            }
            #{$point_item_class}-text {
                color: #242424;
            }
        }
        &--pink {
            background: #F55882;
            #{$point_item_class}-title {
                background-image: linear-gradient(90.19deg, #DEDEDE 2.83%, #CDCDCD 2.84%, #F0F0F0 27.98%, #C9C9C9 51.88%, #EAEAEA 80.38%, #F0F0F0 103.44%);
            }
            #{$point_item_class}-text {
                color: #FFFFFF;
            }
        }

        &-title {
            font-family: 'SONGER Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 41px;
            display: flex;
            align-items: center;
            gap: 18px;
            letter-spacing: -0.04em;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @media screen and (max-width: 768px) {
                gap: 10px;
                font-size: 26px;
                line-height: 33px;
            }
        }

        &-point {
        }

        &-icon {
            width: 25px;
            @media screen and (max-width: 768px) {
                width: 20px;
            }
        }

        &-text {
            margin-top: 8px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }

        &-arrow {
            width: 68px;
            position: absolute;
            bottom: -48px;
            right: -42px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}
