doctype html
html(lang="ru")
  head
    include blocks/default/head.pug
  body
    include blocks/default/header.pug

    include blocks/fit.pug
    include blocks/about.pug
    include blocks/students.pug
    include blocks/programs.pug
    include blocks/tariffs.pug
    include blocks/faq.pug
    include blocks/details.pug

    include blocks/default/footer.pug
    include blocks/default/popups.pug
    include blocks/default/after_footer.pug
    include blocks/default/scripts_footer.pug
