.faq {
    padding: 38px 0 60px;
    background: url("/img/faq/bg.png") no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #FAF8F7;
    position: relative;

    @media screen and (max-width: 768px) {
        background-color: #F2F0F0;
        padding: 32px 0 225px;
    }

    &__imgs {
        pointer-events: none;
    }

    &__question {
        background: url("/img/faq/question.png") no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;

        &--left {
            width: 285px;
            height: 480px;
            bottom: 70px;
            left: calc(50% - 520px);
            transform: rotate(22.86deg) translate(-50%, 0%);
            @media screen and (max-width: 768px) {
                transform: rotate(-19.29deg) translate(-50%, 0%);
                left: calc(50% + 20px);
                z-index: 2;
                width: 100px;
                height: 170px;
                bottom: 56px;
            }

        }
        &--right {
            width: 330px;
            height: 556px;
            bottom: -60px;
            left: calc(50% + 504px);
            transform: rotate(13.73deg) translate(-50%, 0%);
            @media screen and (max-width: 768px) {
                transform: rotate(13.73deg) translate(-50%, 0%);
                left: calc(50% + 100px);
                z-index: 2;
                width: 150px;
                height: 250px;
                bottom: -18px;
            }
        }
    }

    &__feathers {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;

        &--left {
            background-image: url("/img/faq/feathers--left.png");
            width: 820px;
            height: 960px;
            top: -116px;
            left: calc(50% - 530px);
            transform: translate(-50%, 0%);
            @media screen and (max-width: 768px) {
                background-image: url("/img/faq/feathers--left--mobile.png");
                width: 805px;
                height: 1020px;
                left: calc(50% - 10px);
                top: -160px;
            }
        }
        &--right {
            background-image: url("/img/faq/feathers--right.png");
            width: 446px;
            height: 612px;
            top: 146px;
            left: calc(50% + 622px);
            transform: translate(-50%, 0%);
            @media screen and (max-width: 768px) {
                background-image: url("/img/faq/feathers--right--mobile.png");
                width: 790px;
                height: 990px;
                left: calc(50% + 152px);
                top: auto;
                bottom: -204px;
            }
        }
    }

    &__title {
        text-align: center;
    }

    &__box {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 18px;
        max-width: 870px;
        margin: 48px auto 0;
        @media screen and (max-width: 768px) {
            margin-top: 38px;
        }
    }

    &__item {
        background: #FCFCFC;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.05);
        border-radius: 12px;

        &-head {
            padding: 22px 60px 22px 18px;
            position: relative;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                padding: 18px 36px 18px 12px;
                min-height: 70px;
                display: flex;
                align-items: center;
            }

            &::before {
                content: '';
                height: 36px;
                width: 2px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0%, -50%);
                background: #F14473;
                border-radius: 46px;
                @media screen and (max-width: 768px) {
                    width: 1px;
                }
            }

            &-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;

                color: #1B1919;
                @media screen and (max-width: 768px) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            &-icon {
                position: absolute;
                width: 24px;
                right: 15px;
                top: 24px;
                @media screen and (max-width: 768px) {
                    width: 18px;
                    right: 8px;
                    top: 26px;
                }
            }
        }
    }
}
