@font-face {
    font-family: 'SONGER Grotesque';
    src: url('/fonts/Songergrotesque.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'SONGER Grotesque';
    src: url('/fonts/Songergrotesquemedium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'SONGER Grotesque';
    src: url('/fonts/Songergrotesquebold.woff2') format('woff2');
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
