@import 'normalize.css/normalize';

// @include focus-visible;

// button:focus {
//   box-shadow: 0 0 0 10px red;
// }

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;

    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    min-height: 100%;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

img, svg {
    width: 100%;
    height: auto;

    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 1282px;
    padding: 0 5px;
    margin: 0 auto;
}

.btn {
    outline: none;
    border: none;
    background: linear-gradient(90.01deg, #F55882 2.69%, #FF7DA0 22.51%, #F03B6C 41.5%, #FB668E 63.8%, #E97695 81.97%), #D9D9D9;
    box-shadow: inset 0px 4px 34px rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    font-family: 'SONGER Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.04em;
    text-decoration: none;
    padding: 15px 56px;
    box-shadow: 0px 3px 0px rgb(233, 57, 105);
    margin-bottom: 3px;
    cursor: pointer;

    span {
        background: linear-gradient(90.72deg, #FFFFFF 0.6%, rgba(255, 255, 255, 0.72) 61.91%, #FFFFFF 99.52%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        padding: 0 1px;
    }

    &__center {
        text-align: center;
    }

    &--white {
        background: #F3F3F3;
        box-shadow: inset 0px 4px 34px rgba(255, 255, 255, 0.25);

        span {
            background-image: linear-gradient(91.65deg, #121212 1.36%, rgba(62, 57, 57, 0.72) 59.26%, #121212 111.87%), linear-gradient(90.72deg, #FFFFFF 0.6%, rgba(255, 255, 255, 0.72) 61.91%, #FFFFFF 99.52%);
        }
    }
}

.title {
    font-family: 'SONGER Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 113.6%;
    letter-spacing: -0.04em;

    background: linear-gradient(90deg, #1C2027 0%, #2E3D52 38.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 19px 140px rgba(0, 0, 0, 0.15), 0px 15px 140px rgba(0, 0, 0, 0.1);
}

.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;

    background: linear-gradient(90deg, #1C2027 0%, #2E3D52 38.4%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.input {
    background: #FFFFFF;
    border-radius: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    border: none;
    outline: none;
    padding: 14px 30px;
}
