.when {
    padding: 36px 0 86px;

    &__title {
        text-align: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='145' height='70' viewBox='0 0 145 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_122_263)'%3E%3Cpath d='M92.9284 63.1843C93.8971 63.1124 94.2619 63.1531 94.6244 63.0954C116.683 57.1632 131.535 49.1344 136.991 38.6662C138.385 36.0239 138.079 33.3228 136.32 30.7049C132.671 25.0782 120.82 21.416 106.386 21.4088C98.865 21.3876 91.5994 21.9022 85.0922 23.7285C84.6407 25.167 84.3104 26.6027 83.6141 27.9485C82.4524 30.1423 79.7056 31.9792 74.7606 33.1781C71.1433 34.0997 67.5065 34.1847 65.5484 33.4427C62.9785 32.4687 62.9463 31.0907 64.4958 29.9219C66.6411 28.2961 69.2735 26.7573 72.0296 25.3141C73.8273 24.3857 76.2345 23.5909 78.3994 22.8016C76.2085 17.2886 63.1819 15.2296 47.7189 17.9054C47.2524 18.7042 46.787 19.5521 46.1992 20.3537C43.8426 23.3141 39.4089 25.6335 32.1594 26.8371C29.3804 27.296 26.3531 27.5145 23.9044 26.5377C22.0676 25.7927 22.0354 24.4147 23.9428 22.9914C27.0441 20.7523 31.7364 19.1161 36.7969 17.6683C38.6049 17.1829 40.413 16.6975 42.2222 16.2612C39.5963 7.70545 20.4209 2.04785 1.83232 5.92928C1.93859 5.28666 1.8047 4.74814 2.28271 4.44152C2.8808 4.08285 4.2097 3.85482 5.29845 3.73088C15.5844 2.70256 25.1729 2.97081 33.124 5.83787C39.1171 7.96285 43.1821 10.6253 45.9227 13.7127C46.2968 14.1471 46.6708 14.5815 47.1661 15.0131C47.1672 15.0623 47.4108 15.1059 47.8992 15.2422C48.9891 15.1675 50.3226 15.1363 51.6538 15.0067C67.8741 13.5934 76.4015 15.1667 84.0614 21.1428C85.5116 20.9119 87.2042 20.6754 88.7744 20.3925C98.079 18.8947 107.411 18.578 116.897 19.6366C132.341 21.3436 142.407 26.4756 143.657 33.2416C144.349 36.9185 142.856 40.4988 139.664 44.0203C131.857 52.5245 118.918 59.376 99.3788 64.1168C98.4147 64.3855 97.3282 64.6079 96.3642 64.8766C96.2441 64.9287 96.1252 65.0299 95.7684 65.3337C99.8993 65.6311 103.775 65.3927 107.652 65.2036C111.409 65.0666 115.285 64.8282 119.404 64.6334C119.071 65.9215 117.385 66.4533 115.331 66.7968C112.913 67.1488 110.498 67.5991 108.075 67.705C101.531 67.9565 94.8642 68.1616 88.1932 68.1698C82.9769 68.144 81.4957 67.0461 83.7588 65.2698C88.644 61.5117 93.6504 57.7509 98.6569 53.99C99.4916 53.3796 100.571 52.862 101.889 52.1418C104.217 53.1706 103.266 53.9807 102.434 54.7388C99.1022 57.4757 96.1337 60.2041 92.9284 63.1843ZM27.5067 24.9762C35.8611 24.3377 41.0233 22.0505 41.3156 18.9907C35.7737 20.5975 30.4707 22.0509 27.5067 24.9762ZM68.6601 31.6465C75.7964 30.7903 79.1448 28.7424 78.3472 25.7573C73.7774 27.4399 69.8114 29.0098 68.6601 31.6465Z' fill='url(%23paint0_linear_122_263)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_122_263' x1='6.33674' y1='36.463' x2='118.327' y2='33.9034' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%236EE450'/%3E%3Cstop offset='0.25' stop-color='%23B2FC9F'/%3E%3Cstop offset='0.489583' stop-color='%2377ED59'/%3E%3Cstop offset='0.770833' stop-color='%23A3E193'/%3E%3Cstop offset='1' stop-color='%2398F381'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_122_263'%3E%3Crect width='145' height='70' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 145px;
            height: 70px;
            left: calc(50% + 185px);
            top: 26px;
            transform: translate(-50%, 0%);
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 72px 12px;
        margin-top: 100px;
    }
    &__item {
        border: 1px solid #F03C6C;
        background: #FAF8F7;
        border-radius: 18px;
        padding: 76px 14px 22px 14px;
        position: relative;

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            color: #242424;
        }
        &-star {
            position: absolute;
            width: 34px;
            right: -7px;
            bottom: -10px;
        }

        &-icon {
            width: 108px;
            height: 108px;
            padding: 6px;
            border: 1px solid #F03C6C;
            border-radius: 50%;
            position: absolute;
            top: -54px;
            left: 50%;
            transform: translate(-50%, 0%);
            background: #FAF8F7;

            &-inner {
                border-radius: 50%;
                overflow: hidden;
            }
            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
